* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.generator {
  display: grid;
  height: 100vh;
  width: 100%;
  padding: 3em 10em;
}

.generator--template {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.01);
}

.generator--controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
